:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

footer, header, main, nav {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1, h1 {
  font-size: 2.5rem;
}

.h2, h2 {
  font-size: 2rem;
}

.h3, h3 {
  font-size: 1.75rem;
}

.h4, h4 {
  font-size: 1.5rem;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12, .col-6, .col-lg-3, .col-lg-6, .col-md-10, .col-md-3, .col-md-8, .col-sm-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.bg-white {
  background-color: #fff !important;
}

.text-center {
  text-align: center !important;
}

/* Colours */

.pink {
  color: #ce9ffc !important;
}

.purple {
  color: #7367f0 !important;
}

/* Main */

* {
  font-family: "Quicksand", sans-serif;
  font-display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline-color: #41dab4;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #f7f7fc;
  font-weight: 400;
  font-size: 1.25em;
  margin: 0;
  color: #2b303a;
}

h1, h2, h3, h4, p, a {
  font-weight: 500;
  margin-top: 0;
}

h1, .h1 {
  font-size: 3em;
  font-weight: 400;
  padding: 0 64px;
}

h2, .h2 {
  font-size: 2em;
  font-weight: 400;
}

h3, .h3 {
  font-size: 1.5em;
  font-weight: 300;
}

h4, .h4 {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
}

p {
  margin: 0;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
}

code {
  font-family: monospace !important;
}

@media (max-width: 1199.98px) {
  h1, .h1 {
    font-size: 2.5em;
    padding: 0 32px;
  }
  h2, .h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
  h3, .h3 {
    font-size: 1.25em;
    font-weight: 400;
  }
  h4, .h4 {
    font-size: 1em;
    font-weight: 400;
  }
}

@media (max-width: 575.98px) {
  h1, .h1 {
    font-size: 2em;
    padding: 0 16px;
  }
  h2, .h2 {
    font-size: 1.25em;
  }
  h3, .h3, h4, .h4 {
    font-size: 1em;
  }
}

.gradient-text {
  color: #7367f0;
  background: -webkit-linear-gradient(45deg, #ce9ffc 0%, #7367f0 100%);
  background: -moz-linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
  background: -ms-linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
  background: -o-linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
  background: linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.vertical-center {
  padding: 64px 0;
  box-sizing: border-box;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
}

.horizontal-center {
  margin: auto;
}

.about {
  font-size: 1.25em;
  text-align: justify;
}

.p--16 {
  padding: 16px;
}

.p--8 {
  padding: 8px;
}

.icon-link:hover {
  opacity: 0.9;
}

.card {
  overflow: hidden;
  border: none;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 9px 14px 0 rgba(43, 48, 58, 0.09);
  box-shadow: 0 9px 14px 0 rgba(43, 48, 58, 0.09);
  width: 100%;
  padding: 16px;
  border-radius: 4px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.project-title {
  margin-bottom: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  list-style: none;
  padding: 16px;
}

@media screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .card-header {
    display: block;
  }
}

footer {
  font-size: 0.75em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2em;
  margin-top: -2em;
}
