html {
    -webkit-font-smoothing: antialiased;
}

body {
    color: #444;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

.header {
    margin: auto;
}

.gradient-text {
    background: -webkit-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -moz-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -ms-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -o-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, aside {
    margin-top: 0;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    padding: 0 64px;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

a:not(:hover) {
    text-decoration: none;
}

aside {
    font-size: 0.825em;
}

.about {
    font-size: 1.25em;
    text-align: justify;
}

@media (max-width: 1200px) {
    .about {
        font-size: 1em;
        text-align: justify;
    }
    h1 {
        font-size: 2.5em;
        padding: 0 32px;
    }
    .p--64 {
        padding: 0 32px !important;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 400;
    }
    h3 {
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .about {
        font-size: 0.825em;
    }
    h1 {
        font-size: 2em;
        padding: 0 16px;
    }
    .p--64 {
        padding: 0 16px !important;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1em;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    display: inline;
}

.fp-next {
    border-color: transparent transparent transparent #CE9FFC !important;
    border-width: 19.25px 0px 19.25px 17px !important;
}

.fp-prev {
    border-color: transparent #7367F0 transparent transparent !important;
    border-width: 19.25px 17px 19.25px 0 !important;
}

.slide {
    height: 80vh;
}

.p--64 {
    padding: 0 64px;
}

.scrollable-element {
    max-height: 65vh;
    overflow-y: scroll;
}

.fadein {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-images-spaced {
    padding: 2em 0;
    max-width: 93vw;
    display: flex;
    justify-content: space-around;
}

.project-images-spaced div{
    max-width: 33%;
}

@media (max-width: 992px) {
    .project-images-spaced {
        overflow-x: scroll;
        flex-direction: column;
    }
    .project-images-spaced div{
        align-self: center;
        max-width: 75%;
    }
}

.project-image {
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 9px 14px 0 rgba(42, 40, 65, 0.09);
    box-shadow: 0 9px 14px 0 rgba(42, 40, 65, 0.09);
}

.nav-link span a {
    display: inline-block;
    text-decoration: none !important;
    color: #444;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
    position: relative;
    border-bottom: 2px solid transparent;
}

.nav-link span a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    -webkit-transition: width 0s ease, background .2s ease;
    -moz-transition: width 0s ease, background .2s ease;
    -o-transition: width 0s ease, background .2s ease;
    transition: width 0s ease, background .2s ease;
}

.nav-link span a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.nav-link span a:hover:before {
    width: 100%;
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.nav-link span a:hover:after {
    width: 100%;
    background: transparent;
    transition-delay: .2s;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
