* {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-family: 'Quicksand', sans-serif;
    color: #2B303A;
}

html {
    -webkit-font-smoothing: antialiased;
    background-color: #F7F7FC;
}

body {
    font-weight: 400;
    font-size: 1.25em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, aside {
    margin-top: 0;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    padding: 0 64px;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

a:not(:hover) {
    text-decoration: none;
}

aside {
    font-size: 0.825em;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 75%;
    margin: auto;
}


@media (max-width: 1199.98px) {
    .container {
        position: relative;
        width: 75%;
        margin: auto;
    }
    .about {
        font-size: 1em;
        text-align: justify;
    }
    .p--64 {
        padding: 0 32px !important;
    }
    h1 {
        font-size: 2.5em;
        padding: 0 32px;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 400;
    }
    h3 {
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 991.98px) {
    .container {
        position: relative;
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 575.98px) {
    .container {
        position: relative;
        width: 90%;
        margin: auto;
    }
    .about {
        font-size: 0.825em;
    }
    .p--64 {
        padding: 0 16px !important;
    }
    h1 {
        font-size: 2em;
        padding: 0 16px;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1em;
    }
}

@media (max-width: 575.98px) {
    .container {
        position: relative;
        width: 100%;
        margin: auto;
    }
    h1 {
        font-size: 1.75em;
        padding: 0 16px;
    }
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1em;
    }
}

.header {
    margin: auto;
}

.header a:hover {
    text-decoration: none;
}

.nav {
    padding: 16px;
}

.gradient-text {
    background: -webkit-linear-gradient( 45deg, #CE9FFC 0%, #7367F0 100%);
    background: -moz-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -ms-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -o-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.about {
    font-size: 1.25em;
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.slide {
    height: 80vh;
}

.p--64 {
    padding: 0 64px;
}

.fadein {
    animation: fadeIn 0.5s ease forwards;
}

.fadeout {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

.project-images-spaced {
    padding: 2em 0;
    max-width: 93vw;
    display: flex;
    justify-content: space-around;
}

.project-images-spaced div{
    max-width: 33%;
}

@media (max-width: 992px) {
    .project-images-spaced {
        overflow-x: scroll;
        flex-direction: column;
    }
    .project-images-spaced div{
        align-self: center;
        max-width: 75%;
    }
}

.project-image {
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 9px 14px 0 rgba(42, 40, 65, 0.09);
    box-shadow: 0 9px 14px 0 rgba(42, 40, 65, 0.09);
}

.nav-link span a {
    display: inline-block;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
    position: relative;
    border-bottom: 2px solid transparent;
}

.nav-link span a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    -webkit-transition: width 0s ease, background .2s ease;
    -moz-transition: width 0s ease, background .2s ease;
    -o-transition: width 0s ease, background .2s ease;
    transition: width 0s ease, background .2s ease;
}

.nav-link span a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.nav-link span a:hover:before {
    width: 100%;
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.nav-link span a:hover:after {
    width: 100%;
    background: transparent;
    transition-delay: .2s;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

input, textarea {
    min-height: 2.5em;
    font-weight: 500;
    padding: 4px 4px 4px 8px;
    width: 100%;
    border: none
}

textarea {
    min-height: 4em;
}

input:focus, textarea:focus {
    border: none;
    outline: none;
}

.input {
    margin: 16px;
}

.input .error {
    display: block;
    position: absolute;
    color: #DA4167 !important;
    font-size: 0.75em;
    margin: -5px 0;
    right: 15px;
}

.error {
    color: #DA4167 !important;
}

.success {
    color: #41dab4 !important;
}
