/* Colours */
.pink {
    color: #CE9FFC !important;
}
.purple {
    color: #7367F0 !important;
}
.red, .error {
    color: #DA4167 !important;
}

.green, .success {
    color: #41DAB4 !important;
}

.black {
    color: #2B303A !important;
}
.dark-grey {
    color: #363C49 !important;
}
.light-grey {
    color: #4B5466 !important;
}

.lighter-grey {
    color: #616D83 !important;
}

/* Main */

* {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-family: 'Quicksand', sans-serif;
    font-display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline-color: #41DAB4;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #F7F7FC;
    font-weight: 400;
    font-size: 1.25em;
    margin: 0;
    color: #2B303A;
}

h1, h2, h3, h4, h5, h6, p, a, aside {
    font-weight: 500;
    margin-top: 0;
}

code {
    font-family: 'Inconsolata', 'monospace';
    color: #DA4167 !important;
}

h1, .h1 {
    font-size: 3em;
    font-weight: 400;
    padding: 0 64px;
}

h2, .h2 {
    font-size: 2em;
    font-weight: 400;
}

h3, .h3 {
    font-size: 1.5em;
    font-weight: 300;
}

h4, .h4 {
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
}

p {
    margin: 0;
}

.thin {
    font-weight: 300;
}

.semi-bold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

a:not(:hover) {
    text-decoration: none;
}

aside {
    font-size: 0.825em;
}

@media (max-width: 1199.98px) {
    .about {
        font-size: 1em;
        text-align: justify;
    }
    .p--64 {
        padding: 0 32px !important;
    }
    h1, .h1 {
        font-size: 2.5em;
        padding: 0 32px;
    }
    h2, .h2 {
        font-size: 1.5em;
        font-weight: 400;
    }
    h3, .h3 {
        font-size: 1.25em;
        font-weight: 400;
    }
    h4, .h4 {
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 575.98px) {
    .about {
        font-size: 0.825em;
    }
    .p--64 {
        padding: 0 16px !important;
    }
    h1, .h1 {
        font-size: 2em;
        padding: 0 16px;
    }
    h2, .h2 {
        font-size: 1.25em;
    }
    h3, .h3, h4, .h4 {
        font-size: 1em;
    }
}

@media (max-width: 575.98px) {
    h1, .h1 {
        font-size: 2em;
        padding: 0 16px;
    }
    h2, .h2 {
        font-size: 1.25em;
    }
    h3, .h3, h4, .h4 {
        font-size: 1em;
    }
}

.disabled {
    pointer-events: none;
}

.header {
    margin: auto;
}

.header a:hover {
    text-decoration: none;
}

.nav {
    display: block;
    background-color: #F7F7FC;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    margin: auto;
    text-align: center;
    z-index: 1000;
}

.gradient-text {
    background: -webkit-linear-gradient( 45deg, #CE9FFC 0%, #7367F0 100%);
    background: -moz-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -ms-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -o-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.vertical-center {
    padding: 64px 0;
    box-sizing: border-box;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.horizontal-center {
    margin: auto;
}

.about {
    font-size: 1.25em;
    text-align: justify;
}

.slide {
    height: 80vh;
}

.p--64-h {
    padding: 0 64px;
}

.p--64 {
    padding: 64px;
}

.p--32 {
    padding: 32px;
}

.p--24 {
    padding: 24px;
}

.p--16 {
    padding: 16px;
}

.p--8 {
    padding: 8px;
}

.fadein {
    animation: fadeIn 0.5s ease forwards;
}

.fadeout {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.nav-link a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    padding-bottom: 2px;
    position: relative;
    border-bottom: 2px solid transparent;
}

.nav-link a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    -webkit-transition: width 0s ease, background .2s ease;
    -moz-transition: width 0s ease, background .2s ease;
    -o-transition: width 0s ease, background .2s ease;
    transition: width 0s ease, background .2s ease;
}

.nav-link a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.nav-link a:hover:before {
    width: 100%;
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.nav-link a:hover:after {
    width: 100%;
    background: transparent;
    transition-delay: .2s;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

.icon-link:hover {
    opacity: 0.9;
}

.icon-link:hover i {
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}

input, textarea {
    height: 100%;
    font-weight: 500;
    padding: 4px 4px 4px 8px;
    width: 100%;
    font-size: 1em;
    border: 2px solid #616D83;
    border-radius: 4px;
    min-height: 2.5em;
}

textarea {
    min-height: 4em;
}

input:focus, textarea:focus {
    border-color: #7367F0;
    outline: none;
}

button {
    font-weight: 500;
    padding: 4px 8px;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 4px 9px 0 rgba(43, 48, 58, 0.11);
    box-shadow: 0 4px 9px 0 rgba(43, 48, 58, 0.11);
    cursor: pointer;
}

button:disabled {
    opacity: 0.8;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    -webkit-box-shadow: 0 6px 18px 0 rgba(43, 48, 58, 0.14);
    box-shadow: 0 6px 18px 0 rgba(43, 48, 58, 0.14);
    opacity: 0.9;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}

button:not(:disabled):active {
    outline: none;
}

button.purple-gradient {
    background: -webkit-linear-gradient( 45deg, #CE9FFC 0%, #7367F0 100%);
    background: -moz-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -ms-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: -o-linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    background: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
    color: white !important;
}

button.pink {
    background-color: #CE9FFC;
    color: white !important;
}

button.purple {
    background-color: #7367F0;
    color: white !important;
}

.input {
    margin: 16px;
}

.input .error {
    display: block;
    position: absolute;
    font-size: 0.75em;
    margin: -5px 0;
    right: 15px;
}

.square {
    position: relative;
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.card {
    overflow: hidden;
    border: none;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    background-color: #FFFFFF;
    color: #FFFFFF !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 9px 14px 0 rgba(43, 48, 58, 0.09);
    box-shadow: 0 9px 14px 0 rgba(43, 48, 58, 0.09);
    width: 100%;
    padding: 16px;
}

.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -16px;
    left: -16px;
    bottom: -16px;
    right: -16px;
}

.project-title {
    margin-bottom: 4px;
}

.card-img {
    object-fit: cover;
}

.card-img-overlay {
    height: 100%;
    background-color: rgba(97, 109, 131, 0.5);
    bottom: 0;
    font-size: 0.8em;
    opacity: 0;
    padding: 2em;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.card:hover .card-img {
    filter: blur(6px);
}

/* iOS Safari fix */
.card:active .card-img-overlay,
.card:focus .card-img-overlay {
    opacity: 1;
}

.card:hover:active .card-img {
    filter: blur(6px);
}

.project-code {
    padding: 2px;
}

.project-code:first-child {
    padding-left: 0;
    margin-left: 0;
}

.project-code:last-child {
    padding-right: 0;
    margin-right: 0;
}
