<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Aleksandr Vorontsov</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="Aleksandr Vorontsov,London,UK,Developer,Web,Software" />
  <meta name="description" content="Aleksandr Vorontsov, Software Developer" />
  <meta property="og:title" content="Aleksandr Vorontsov" />
  <meta property="og:description" content="Software Engineer" />
  <meta property="og:image" content="https://vorontsov.co.uk/public/images/AV-s.png" />
  <meta property="og:url" content="https://vorontsov.co.uk/" />
  <meta name="twitter:title" content="Aleksandr Vorontsov" />
  <meta name="twitter:description" content="Software Engineer" />
  <meta name="twitter:image" content="https://vorontsov.co.uk/public/images/AV-s.png" />
  <meta name="theme-color" content="#7367f0" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#7367f0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-%C2%A9,.20217+%27"
    as="style" onload="this.onload=null;this.rel='stylesheet'" media="screen" />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-%C2%A9,.20217+%27"
      rel="stylesheet" type="text/css" media="screen" />
  </noscript>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.min.css" media="screen" />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" media="screen" async />

<body>
  <%- include ("home") -%>
  <hr class="purple" style="width: 50%; filter: blur(1px);" />
  <%- include ("projects", {projects: projects}) -%>
  <footer class=" footer text-center">
    This website is a member of the <a href="https://1mb.club/" target="_blank" rel="noopener noreferrer">1MB club</a> and is <a href="https://github.com/a-vorontsov/a-vorontsov.github.io" target="_blank" rel="noopener noreferrer">open-source</a>
  </footer>
</body>

</html>
