<li class="p--16">
  <div class="card">
    <div class="card-body">
      <div class="card-header">
        <p class="h3 project-title">
          <a href="<%= !!project.weburl ? project.weburl : project.url %>" target="_blank" rel="noopener noreferrer"
            class="purple bold">
            <%= project.name %>
          </a>
        </p>
        <% if (!!project.weburl) { %>
        <a href="<%= project.url %>" target="_blank" rel="noopener noreferrer" class="purple bold">
          Github repo
        </a>
        <% } %>
      </div>
      <p>
        <%- project.desc %>
      </p>
    </div>
  </div>
</li>
